<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MærkeDageCalender</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <ion-icon name="home-outline" aria-hidden="true"></ion-icon> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Calender">
                <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon> Calender
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Events">
                <ion-icon name="today-outline" aria-hidden="true"></ion-icon> Events
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Holidays">
                <ion-icon name="sunny-outline" aria-hidden="true"></ion-icon> Holidays
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Users">
                <ion-icon name="person-outline" aria-hidden="true"></ion-icon> Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ConnectionSelection">
                <ion-icon name="server-outline" aria-hidden="true"></ion-icon> Connection Selection
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
