@page "/AddBirthday"

@using MærkeDageCalender.Data
@using DataAccessLibrary.Models

@inject EntityFrameworkCRUD entity
@inject SqlConnectionCRUD sqlcon
@inject LinQCRUD linq
@inject SelectedOptionService SelectedOptionService

<h3>Add Birthday</h3>

<form @onsubmit="AddNewBirthday">
    <div class="form-group">
        <label for="Name">Navn</label>
        <input type="text" class="form-control" id="Name" @bind="newBirthday.EventName">
    </div>
    <div class="form-group">
        <label for="Date">Dato</label>
        <input type="date" class="form-control" id="Date" @bind="selectedDate">
    </div>
    <button type="submit" class="btn btn-primary">Add Birthday</button>
</form>

@code {
    private BirthdayModel newBirthday = new BirthdayModel();
    public DateTime selectedDate = DateTime.Now;

    public void AddNewBirthday()
    {
        newBirthday.Date = selectedDate;

        if (SelectedOptionService.SelectedOption == CRUDTypeEnum.entityFramework.ToString())
        {
            entity.CreateBirthday(newBirthday);
        }
        else if (SelectedOptionService.SelectedOption == CRUDTypeEnum.sqlCon.ToString())
        {
            sqlcon.CreateBirthday(newBirthday);
        }
        else if (SelectedOptionService.SelectedOption == CRUDTypeEnum.linQ.ToString())
        {
            linq.CreateBirthday(newBirthday);
        }

        newBirthday = new BirthdayModel();
    }
}
