@page "/DBModificationTechSelection"
@using MærkeDageCalender.Data;

<h3>Select the preferred database modification technology </h3>

<div class="btn-group btn btn-group-lg" role="group" aria-label="Select:">
  <input type="radio" class="btn-check" name="btnradio" id="EntityFramework" value="1" @onchange="RadioChanged" autocomplete="off" checked=@SelectedOptionService.SelectedOption.Equals("1")>
  <label class="btn btn-outline-primary" for="EntityFramework">Entity Framework </label>

  <input type="radio" class="btn-check" name="btnradio" id="SqlConnectionADO" value="2" @onchange="RadioChanged" autocomplete="off" checked=@SelectedOptionService.SelectedOption.Equals("2")>
  <label class="btn btn-outline-primary" for="SqlConnectionADO">SqlConnection / ADO </label>

  <input type="radio" class="btn-check" name="btnradio" id="LinQ" value="3" @onchange="RadioChanged" autocomplete="off" checked=@SelectedOptionService.SelectedOption.Equals("3")>
  <label class="btn btn-outline-primary" for="LinQ">LinQ </label>
</div>


@inject SelectedOptionService SelectedOptionService 

@code {
    private void RadioChanged(ChangeEventArgs e) => SelectedOptionService.SelectedOption = e.Value.ToString();
}
