@page "/DisplayAllHolidays"

@using System.Globalization
@using MærkeDageCalender.Data
@using Newtonsoft.Json;
@using System.Net.Http.Json
@using DataAccessLibrary
@using DataAccessLibrary.ApiAccess
@using DataAccessLibrary.Models

@inject ICRUD<BirthdayModel> _db
@inject EntityFrameworkCRUD entity
@inject SqlConnectionCRUD sqlcon
@inject LinQCRUD linq
@inject SallingApiAccess access
@inject Date date
@inject SelectedOptionService SelectedOptionService
@inject NavigationManager _navigationManager
@inject PublicHolidayLists holidayLists

<h3>All Holidays</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name of Holiday</th>
            <th>National holiday?</th>
            <th>Date of Holiday</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var holiday in holidayLists.ListofHolidays)
        {
            if (dateNow <= holiday.date && holiday.date <= dateFuture)
            {
                <tr>
                    <td>@holiday.name @holiday.date.Year</td>
                    <td>@holiday.nationalHoliday</td>
                    <td>@holiday.date.ToShortDateString()</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    DateTime dateNow = DateTime.Now;
    DateTime dateFuture = DateTime.Now.AddYears(1);

    protected override async Task OnInitializedAsync()
    {
        await access.GetPublicHolidays();
         if (holidayLists.ListofHolidays == null || holidayLists.ListofHolidays.Count == 0)
        {
            holidayLists.ListofHolidays = await access.GetPublicHolidays();
        }
    }
}
