@page "/event/update/{eventId:int}"

@using MærkeDageCalender.Data
@using DataAccessLibrary.Models

@inject EntityFrameworkCRUD entity
@inject SqlConnectionCRUD sqlcon
@inject LinQCRUD linq
@inject Date date
@inject SelectedOptionService SelectedOptionService
@inject NavigationManager _navigationManager
@inject EventModel EventModel

<h3>Edit Event</h3>

<form>
    <div class="form-group">
        <label for="eventDate">Event Date:</label>
        <input type="date" class="form-control" id="eventDate" @bind="EventModel.Date" />
    </div>
    <div class="form-group">
        <label for="eventName">Event Name:</label>
        <input type="text" class="form-control" id="eventName" @bind="EventModel.EventName" />
    </div>
    <button type="button" class="btn btn-primary" @onclick="UpdateEvent">
    <ion-icon name="save-outline" size="large" aria-hidden="true"></ion-icon></button>
</form>

@code {

    [Parameter] public int eventId { get; set; }

    private void UpdateEvent()
    {
        if (SelectedOptionService.SelectedOption == CRUDTypeEnum.entityFramework.ToString())
        {
            entity.UpdateEvent(EventModel);
        }
        else if (SelectedOptionService.SelectedOption == CRUDTypeEnum.sqlCon.ToString())
        {
            sqlcon.UpdateEvent(EventModel);
        }
        else if (SelectedOptionService.SelectedOption == CRUDTypeEnum.linQ.ToString())
        {
            linq.UpdateEvent(EventModel);
        }

        _navigationManager.NavigateTo("/Calender");
    }

    protected override void OnInitialized()
    {
        if (SelectedOptionService.SelectedOption == CRUDTypeEnum.entityFramework.ToString())
        {
            EventModel = entity.GetEvent(eventId);
        }
        else if (SelectedOptionService.SelectedOption == CRUDTypeEnum.sqlCon.ToString())
        {
            EventModel = sqlcon.GetEvent(eventId);
        }
        else if (SelectedOptionService.SelectedOption == CRUDTypeEnum.linQ.ToString())
        {
            EventModel = linq.GetEvent(eventId);
        }
    }
}