@page "/Events"

@using MærkeDageCalender.Data
@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject ICRUDBirthday<BirthdayModel> _db
@inject EntityFrameworkCRUD entity
@inject SqlConnectionCRUD sqlcon
@inject LinQCRUD linq
@inject SelectedOptionService SelectedOptionService
@inject NavigationManager _navigationManager
@inject BirthdayLists birthdayLists
@inject BirthdayModel birthdayModel

<h3>Add Events</h3>
<form @onsubmit="AddNewBirthday">
    <div class="form-group">
        <label for="Name">Navn</label>
        <input type="text" class="form-control" id="Name" @bind="birthdayModel.EventName">
    </div>
    <div class="form-group">
        <label for="Date">Dato</label>
        <input type="date" class="form-control" id="Date" @bind="selectedDate">
    </div>
    <button type="submit" class="btn btn-primary">Add Birthday</button>
</form>

<h3>All Birthdays</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name of Event</th>
            <th>Date of Event</th>
            <th>Update Event</th>
            <th>Delete Event</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var birthday in birthdayLists.ListofBirthdays)
        {
            <tr>
                <td>@birthday.Id</td>
                <td>@birthday.EventName</td>
                <td>@birthday.Date.ToShortDateString()</td>
                <td><button @onclick="() => UpdatePage(birthday.Id)" type="button" class="btn btn-primary" style="margin-bottom: 5px">Update</button></td>
                <td><button @onclick="() => DeleteAndRefresh(birthday.Id)" type="button" class="btn btn-danger" style="margin-bottom: 5px">Delete</button></td>

            </tr>
        }
    </tbody>
</table>

@code {
    private DateTime selectedDate = DateTime.Now;

    protected override async Task OnInitializedAsync() => birthdayLists.ListofBirthdays = _db.ReadAllBirthdays();

    public void AddNewBirthday()
    {
        birthdayModel.Date = selectedDate;

        if (SelectedOptionService.SelectedOption == CRUDTypeEnum.entityFramework.ToString())
        {
            entity.CreateBirthday(birthdayModel);
        }
        else if (SelectedOptionService.SelectedOption == CRUDTypeEnum.sqlCon.ToString())
        {
            sqlcon.CreateBirthday(birthdayModel);
        }
        else if (SelectedOptionService.SelectedOption == CRUDTypeEnum.linQ.ToString())
        {
            linq.CreateBirthday(birthdayModel);
        }

        birthdayModel = new BirthdayModel();
        StateHasChanged();
        ReloadPage();
    }
    void UpdatePage(int eventId)
    {
        _navigationManager.NavigateTo($"/event/update/{eventId}");
    }

    private void DeleteAndRefresh(int id)
    {
        if (SelectedOptionService.SelectedOption == CRUDTypeEnum.entityFramework.ToString())
        {
            entity.DeleteBirthday(id);
        }
        else if (SelectedOptionService.SelectedOption == CRUDTypeEnum.sqlCon.ToString())
        {
            sqlcon.DeleteBirthday(id);
        }
        else if (SelectedOptionService.SelectedOption == CRUDTypeEnum.linQ.ToString())
        {
            linq.DeleteBirthday(id);
        }

        var itemToRemove = birthdayLists.ListofBirthdays.FirstOrDefault(item => item.Id == id);
        if (itemToRemove != null)
        {
            birthdayLists.ListofBirthdays.Remove(itemToRemove);
        }

        StateHasChanged();
        ReloadPage();
    }

    private void ReloadPage()
    {
        _navigationManager.NavigateTo("/Events", true);
    }
}
