@page "/Users"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using MærkeDageCalender.Data

@inject ICRUDUser<UserModel> _db
@inject SelectedOptionService SelectedOptionService
@inject EntityFrameworkCRUD entity
@inject SqlConnectionCRUD sqlcon
@inject LinQCRUD linq
@inject NavigationManager _navigationManager
@inject UserLists userLists
@inject UserModel userModel

<h3>Add New User</h3>
<form @onsubmit="AddNewUser">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" @bind="userModel.firstName">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" @bind="userModel.lastName">
    </div>
    <div class="form-group">
        <label for="Date">Date of Birth</label>
        <input type="date" class="form-control" id="Date" @bind="selectedDate">
    </div>
    <button type="submit" class="btn btn-primary" aria-label="">
    <ion-icon name="person-add-outline" size="large" aria-hidden="true"></ion-icon>
    </button>
</form>

<h3>All Users</h3>
@if (userLists.ListofUsers != null)
    {
    <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name of User</th>
            <th>Users Birthday</th>
            <th>Update User</th>
            <th>Delete User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in userLists.ListofUsers)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.firstName @user.lastName</td>
                <td>@user.birthday.ToShortDateString()</td>
                <td><button @onclick="() => UpdatePage(user.Id)" type="button" class="btn btn-primary">
                        <ion-icon name="build-outline" size="large" aria-hidden="true"></ion-icon></button></td>
                <td><button @onclick="() => DeleteAndRefresh(user.Id)" type="button" class="btn btn-danger">
                        <ion-icon name="person-remove-outline" size="large " aria-hidden="true"></ion-icon></button></td>
            </tr>
        }
    </tbody>
    </table>
 }
 else
 {
    <p>Loading...</p>
 }

@code {
    private DateTime selectedDate = new DateTime(2000, 1, 1);
    protected override async Task OnInitializedAsync() => userLists.ListofUsers = _db.ReadAllUsers();

    public void AddNewUser()
    {
        userModel.birthday = selectedDate;

        if (SelectedOptionService.SelectedOption == CRUDTypeEnum.entityFramework.ToString())
        {
            entity.CreateUser(userModel);
        }
        else if (SelectedOptionService.SelectedOption == CRUDTypeEnum.sqlCon.ToString())
        {
            sqlcon.CreateUser(userModel);
        }
        else if (SelectedOptionService.SelectedOption == CRUDTypeEnum.linQ.ToString())
        {
            linq.CreateUser(userModel);
        }

        ReloadPage();
    }

    void UpdatePage(int userId)
    {
        _navigationManager.NavigateTo($"/user/update/{userId}");
    }

    private void DeleteAndRefresh(int id)
    {
        if (SelectedOptionService.SelectedOption == CRUDTypeEnum.entityFramework.ToString())
        {
            entity.DeleteUser(id);
        }
        else if (SelectedOptionService.SelectedOption == CRUDTypeEnum.sqlCon.ToString())
        {
            sqlcon.DeleteUser(id);
        }
        else if (SelectedOptionService.SelectedOption == CRUDTypeEnum.linQ.ToString())
        {
            linq.DeleteUser(id);
        }

        var itemToRemove = userLists.ListofUsers.FirstOrDefault(item => item.Id == id);
        if (itemToRemove != null)
        {
            userLists.ListofUsers.Remove(itemToRemove);
        }
        StateHasChanged();
        ReloadPage();
    }

    private void ReloadPage()
    {
        _navigationManager.NavigateTo("/Users", true);
    }
}
